/*폰트*/
.diphylleia-regular {
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nav-link:hover,
  .nav-link.active {
      color: #ff9c3f !important;
  }

/* 헤더 영역 */
header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images_all/main_img.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
}

/* 전공 소개 영역 */
body {
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
    background-color:rgb(252, 252, 248);
}




